@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --wight: #FDFDFD;
    --black: #0A0A0A;
    --accent: #5500FA;
    --gray: #F3F3F3;
}

.none {
    display: none;
}

.cursor-none {
    cursor: none;
}

.container{
    margin: 0 auto;
    max-width: 1360px;
}

@media (max-width: 1390px) {
    .container{
        margin: 0 auto;
        max-width: 960px;
    }
}

@media (max-width: 990px) {
    .container {
        max-width: 343px;
    }
}

html, body {
    z-index: 1;
    font-family: 'Inter', sans-serif;   
    display: flex;
    color: var(--black);
    background-color: var(--gray);
    flex-direction: column;
}

/* Navigation */

.nav {
    padding-top: 0px;
    opacity: 0;
    transition: 0.4s;
}

.nav-logo {
    width: 250px;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.nav-list { 
    display: flex;
    align-items: center;
    padding-left: 16px;
    column-gap: 8px;
    font-size: 16px;
    width: 498px;
    height: 89px;
    background: #FDFDFD;
    border-radius: 32px;
}

.nav-list__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 57px;

    text-decoration: none;
    color: var(--black);
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.04em;
    transition: 0.4s;
}

.nav-list__item:hover {
    border-radius: 16px;
    background: #F3F3F3;
}

.nav-list__item_purple{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 206px;
    height: 89px;  
    background: var(--accent);
    border-radius: 32px;

    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.04em;
    text-decoration: none;
    color: var(--wight);
    transition: 0.4s;
}

.nav-list__item_purple:hover {
    color: var(--wight);
    background: var(--black);
}

@media (max-width: 1390px) {

    .nav-row {
        column-gap: 0px;
        row-gap: 0px;
    }

    .nav-logo {
        width: 150px;
    }

}

@media (max-width: 990px) {
    .nav {
        display: none;
    }
}

/* Navigation 343 */

.nav-343 {
    display: none;
    transition: 0.4s ease-out;
}

.nav-row-343 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-list-343 { 
    display: flex;
    align-items: center;
    padding-left: 16px;
    column-gap: 66px;
    font-size: 16px;
    width: 375px;
    height: 50px;
    background: #FDFDFD;
    border-radius:  0px 0px 16px 16px;
}

.nav-list__item-343 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.04em;
    transition: 0.4s ease-out;
}

.nav-list__item-343:hover {
    color: #A5A5A5;
}

.nav-list__item_purple-343{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 206px;
    height: 89px;  
    background: var(--accent);
    border-radius: 32px;

    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.04em;
    text-decoration: none;
    color: var(--wight);
    transition: 0.4s ease-out;
}

.nav-list__item_purple-343:hover {
    color: var(--wight);
    background: var(--black);
}

@media (max-width: 990px) {
    .nav-343 {
        display: block;
    }
}

/* Navigation fixed */

.nav-fixed {
    display: flex;
    justify-content: center;
    z-index: -999;
    position: fixed;
    width: 100vw;
    bottom: 0px;
    opacity: 0;
    transition: 0.4s ease-out;
}

.nav-fixed-preloader {
    z-index: 888;
    bottom: 40px;
    opacity: 1;
}

.nav-fixed-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    column-gap: 8px;
    width: 486px;
    height: 78px;
    background: rgba(253, 253, 253, 0.685);
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(24px);
    border-radius: 500px;
}

.nav-list-fixed__item {
    padding: 8px 16px;
    font-size: 24px;
    line-height: 120%;
    border-radius: 70px;
    letter-spacing: -0.04em;
    color: var(--black);
    transition: 0.4s ease-out;
}

.nav-list-fixed__item:hover {
    color: #A5A5A5;
}

.nav-list-fixed__item_purple {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 108px;
    height: 46px;
    background: var(--accent);
    border-radius: 70px;   

    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--wight);
    transition: 0.4s ease-out;
}

.nav-list-fixed__item_purple:hover {
    background-color: var(--wight);
    color: var(--black);
}

@media (max-width: 990px) {
    .nav-fixed-preloader {
        bottom: 20px;
    }
    
    .nav-fixed-list {
        width: 343px;
        height: 49px;
    }
    
    .nav-list-fixed__item {
        padding: 8px 8px;
        font-size: 16px;
    }
    
    .nav-list-fixed__item_purple {
        width: 88px;
        height: 34px;
    
        font-size: 16px;
    }
}

/* Header */

.header-text {
    padding-top: 40px;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: -0.06em;
    color: #0A0A0A;
}

.header-subtext-row {
    display: flex;
    flex-direction: row;
    column-gap: 54px;
}

.header-subtext {
    padding-top: 24px;
    width: 653px;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #A5A5A5;
}

.header-subtext-right {
    padding-top: 58px;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #A5A5A5;
}

.header-subtext-right a {
    color: #5500FA;
}

@media (max-width: 1390px) {

    .header-text {
        font-size: 67px;
    }

    .header-subtext-row {
        column-gap: 31px;
    }

    .header-subtext {
        width: 456px;
        font-size: 25px;
    }

    .header-subtext-right {
        padding-top: 84px;
        font-size: 25px;
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #A5A5A5;
    }
}

@media (max-width: 960px) {
    .header-text {
        font-size: 48px;
    }

    .header-subtext-row {
        flex-direction: column;
        column-gap: 0px;
        row-gap: 16px;
    }
    
    .header-subtext {
        padding-top: 16px;
        width: 344px;
        font-size: 19px;
    }
    
    .header-subtext-right {
        padding-top: 0;
        font-size: 19px;
    }
}

/* Footer */

.footer {
    margin-top: 128px;
    width: 100%;
    height: 342px;
    background: var(--wight);
    border-radius: 80px;
}

.footer-social-icons-row {
    display: flex;
    flex-direction: row;
    column-gap: 64px;
    padding-top: 24px;
}

.footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 100px;
    background: #F3F3F3;
    border-radius: 32px;
    transition: 0.4s;
}

.footer-social-item:hover {
    border-radius: 220px;
}

.footer-contacts-row {
    display: flex;
    flex-direction: row;
    column-gap: 156px;
    padding-top: 105px;
}

.footer-contacs-logo {
    width: 250px;
    height: 50px;
}

.footer-contacs-logo-343 {
    display: none;
}

.footer-contact-contacts-text {
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #A5A5A5;
}

.footer-contact-contact-telephone-number {
    padding-top: 8px;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.04em;
}

.footer-contacts-contact-email {
    padding-top: 8px;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.04em;
}

.footer-contacts-present-text {
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #A5A5A5;
}

.footer-contacts-present-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #5500FA;
    margin-top: 8px;
    width: 126px;
    height: 41px;
    background: #F3F3F3;
    border-radius: 92px;
    transition: 0.4s;
}

.footer-contacts-present-btn:hover {
    background: var(--accent);
    color: var(--wight);
}

.footer-contacts-documents-text {
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #A5A5A5;
}

.footer-contacts-documents-privacy-policy {
    padding-top: 10px;
    text-decoration-line: underline;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.04em;
    transition: 0.4s;
}

.footer-contacts-documents-privacy-policy a {
    color: var(--black);
    transition: 0.4s;
}

.footer-contacts-documents-privacy-policy:hover {
    color: #a5a5a5;
}

.footer-contacts-documents-privacy-policy a:hover {
    color: #a5a5a5;
}

@media (max-width: 1390px) {
    .footer-social-item {
        width: 168px;
        height: 96px;
    }
    
    .footer-contacts-row {
        column-gap: 80px;
    }
    
    .footer-contacs-logo {
        width: 180px;
        height: 36px;
    }
    
    .footer-contact-contacts-text {
        font-size: 25px;
    }
    
    .footer-contact-contact-telephone-number {
        font-size: 13px;
    }
    
    .footer-contacts-contact-email {
        font-size: 13px;
    }
    
    .footer-contacts-present-text {
        font-size: 25px;
    }
    
    .footer-contacts-documents-text {
        font-size: 25px;
    }
    
    .footer-contacts-documents-privacy-policy {
        font-size: 13px;
    }
}

@media (max-width: 990px) {
    .footer {
        padding-left: 16px;
        margin-top: 80px;
        height: 497px;
    }
    
    .footer-social-icons-row {
        column-gap: 24px;
        padding-top: 24px;
    }
    
    .footer-social-item {
        width: 78px;
        height: 68px;
        border-radius: 24px;
    }
    
    .footer-social-item img {
        width: 30px;
    }
    
    .footer-contacts-row {
        flex-direction: column;
        column-gap: 0px;
        padding-top: 75px;
    }
    
    .footer-contacs-logo {
        display: none;
    }

    .footer-contacs-logo-343 {
        display: block;
        margin-top: 19px;
        margin-left: 65px;
        width: 180px;
        height: 36px;
    }
    
    .footer-contact-contacts-text {
        margin-top: 18px;
        font-size: 25px;
    }
    
    .footer-contact-contact-telephone-number {
        font-size: 13px;
    }
    
    .footer-contacts-contact-email {
        font-size: 13px;
    }
    
    .footer-contacts-present-text {
        margin-top: 18px;
        font-size: 25px;
    }
    
    .footer-contacts-documents-text {
        margin-top: 18px;
        font-size: 25px;
    }
    
    .footer-contacts-documents-privacy-policy {
        font-size: 13px;
    }
}

/* Brif Section */

.brif {
    margin-top: 128px;
}

.brif-section-name {

    padding-left: 40px;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #A5A5A5;

    width: 652px;
    height: 77px;
    background: #FDFDFD;
    border-radius: 500px;
}

.brif-section-number {
    margin-left: 50px;
    padding-left: 40px;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #A5A5A5;

    width: 652px;
    height: 77px;
    background: #FDFDFD;
    border-radius: 500px;
}

.brif-section-email {
    margin-top: 40px;
    padding-left: 40px;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #A5A5A5;

    width: 652px;
    height: 77px;
    background: #FDFDFD;
    border-radius: 500px;
}

.brif-section-nickname {
    margin-left: 50px;
    margin-top: 40px;
    padding-left: 40px;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #A5A5A5;

    width: 652px;
    height: 77px;
    background: #FDFDFD;
    border-radius: 500px;
}

.brif-section-aboutWork {
    margin-top: 40px;
    padding-top: 24px;
    padding-left: 40px;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.04em;
    resize: none;
    color: #A5A5A5;

    width: 1360px;
    height: 128px;
    background: #FDFDFD;
    border-radius: 40px;
}

.brif-section-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    font-size: 38px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: inherit;

    width: 1360px;
    height: 174px;
    color: #0A0A0A;
    background: #FDFDFD;
    border-radius: 5000px;
    transition: 0.4s;
}

.brif-section-btn:hover {
    color: var(--wight);
    background-color: #5500FA;
}

.brif-section-btn-subtext {
    padding-top: 16px;
    padding-left: 434px;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #A5A5A5;
}

.brif-section-btn-subtext a {
    color: var(--accent);
}

@media (max-width: 1390px) {
    .brif {
        margin-top: 70px;
    }
    
    .brif-section-name {
        font-size: 21px;
        width: 460px;
        height: 73px;
    }
    
    .brif-section-number {
        margin-left: 32px;
        font-size: 21px;
        width: 460px;
        height: 73px;
    }
    
    .brif-section-email {
        margin-top: 32px;
        font-size: 21px; 
        width: 460px;
        height: 73px;
    }
    
    .brif-section-nickname {
        margin-left: 32px;
        margin-top: 32px;
        font-size: 21px;  
        width: 460px;
        height: 73px;
    }
    
    .brif-section-aboutWork {
        margin-top: 32px;
        font-size: 21px;
    
        width: 960px;
        height: 96px;
    }
    
    .brif-section-btn {
        margin-top: 32px;
        font-size: 31px;
        width: 960px;
        height: 117px;
    }

    .brif-section-btn-subtext {
        padding-left: 234px;
    }
}

@media (max-width: 960px) {
    .brif {
        margin-top: 40px;
    }
    
    .brif-section-name {
        padding-left: 16px;
        font-size: 19px;
        width: 343px;
        height: 55px;
    }
    
    .brif-section-number {
        margin-left: 0;
        padding-left: 16px;
        margin-top: 24px;
        font-size: 19px;
        width: 343px;
        height: 55px;
    }
    
    .brif-section-email {
        padding-left: 16px;
        margin-top: 24px;
        font-size: 19px;
        width: 343px;
        height: 55px;
    }
    
    .brif-section-nickname {
        margin-left: 0;
        padding-left: 16px;
        margin-top: 24px;
        font-size: 19px;
        width: 343px;
        height: 55px;
    }
    
    .brif-section-aboutWork {
        padding-left: 16px;
        padding-top: 16px;
        margin-top: 24px;
        font-size: 19px;
        width: 343px;
        height: 78px;
    }
    
    .brif-section-btn {
        margin-top: 24px;
        font-size: 19px;  
        width: 343px;
        height: 71px;
    }
    
    .brif-section-btn-subtext {
        padding-left: 0;
        padding-top: 8px;
        font-size: 12px;
    }
}

/* Preloader Styles */

.nav-preloader {
    padding-top: 40px;
    opacity: 1;
}

.nav-fixed-preloader {
    bottom: 40px;
    opacity: 1;
}
